.main{
  height: 80vh;
  width: 100vw;
  padding: 0 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main h1{
  text-align:justify ;
}

@media (max-width: 998px) {
  .main{
    display: block;
  }
  .main h1{
    margin-top: 5rem;
    text-align:initial;
  }
}